<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>css秘密花园</title>
    <link rel="stylesheet" type="text/css" href="/dist/styles/index.css">
</head>
<style>
    .color-tint-filter{

        min-height: 100vh;
        background: url("http://csssecrets.io/images/tiger.jpg");
        filter: sepia(1) saturate(4) hue-rotate(300deg);
    }
</style>
<body>
<div class="color-tint-filter"></div>
<div class="ellepse">自适应椭圆</div>
<div class="half-ellepse">半椭圆</div>
<div class="quanter-ellipse">四分之一椭圆</div>
<div class="pie"></div>
<div class="parallelograms">平行四边形</div>
<div class="diamond"><img src="http://csssecrets.io/images/adamcatlace.jpg" alt=""></div>
<div class="transform"></div>
</body>
</html>
