{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/dist/styles/index.css">
{% endblock %}

{% block content %}
<div class="chat_box">
    <header class="chat_header">
        <!-- <img src="" /> -->
        <span>{{userName}}</span>
    </header>
    <div class="chat_content flex">
        <div class="chat_content_left">
            <header class='header'>房间列表</header>
            <ul class="u-roomList" id="roomList"> </ul>
            <div class="chat_field area">
              <input type="text" id="roomName" class="form-control w100"/>
              <a href="javascript:void(0);"  id="addRoomList" class='btn btn-dark' >新增</a>
            </div>
        </div>
        <div class="chat_content_body col">
            <div class="chat_content_body_area" id="message"></div>
            <div class="chat_field area">
                <input type="text" id="inputValue" class='form-control'/>
                <a href="javascript:void(0);" id="send-button" class='btn btn-green'> send </a>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdn.bootcss.com/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/peerjs/0.3.10/peer.js"></script>
    <script type="text/javascript" src="/dist/index.js"></script>
{% endblock %}
