{% extends 'layout.html' %}
{% block title %} 博客 {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/dist/styles/style.css">
{% endblock %}

{% block content %}

<div class="chat_box">
    <header class="chat_header">
        <!-- <img src="" /> -->
        <span>无冕之王</span>
    </header>
    <div class="chat_content flex">
        <div class="chat_content_left">
            <ul class="u-roomList" id="roomList"> </ul>
        </div>
        <div class="chat_content_body col">
            <div class="chat_content_body_area" id="message"></div>
            <div class="chat_field">
                <input type="text" id="inputValue" />
                <input type="button" id="send-button" value='send'/>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="/socket.io/socket.io.js" ></script>
    <script type="text/javascript" src="/dist/index.js"></script>
{% endblock %}
