{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/dist/styles/login.css">
{% endblock %}

{% block content %}
<div class="grid ant">
    <div class='item'>
        <input type="text" placeholder="请输入姓名" id="name" class="form-control" />
    </div>
    <div class="area item">
        <a href="javascript:void(0);"  id="submit" class='btn btn-green'>提交</a>
    </div>
</div>
<div class="ellepse">自适应椭圆</div>
<div class="half-ellepse">半椭圆</div>
<div class="quanter-ellipse">四分之一椭圆</div>
<div class="pie"></div>
<div class="parallelograms">平行四边形</div>
<div class="diamond"><img src="http://csssecrets.io/images/adamcatlace.jpg" alt=""></div>
<div class="transform">

</div>

<script src='/dist/login.js' type='text/javascript'></script>
{% endblock %}
