<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href='../public/dist/styles/style.css' />
</head>
<body>
    <div class="flex" style='height:500px; width:500px;border:1px solid;'>

        <div style="border:1px solid;">2</div>
        <div style="border:1px solid;">2</div>
        <div style="border:1px solid;">2</div>
        <div style="border:1px solid;">2</div>
    </div>
</body>
</html>
