@import './mixin.scss';
@import './reset.scss';
@import './common.scss';

.area {
    background: #eff4f5;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}
.form-control{
    padding: 6px 12px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 1.5;
    color:#555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
    &:focus{
        border-color: $blue;
    }
}

.chat_box{
    width: $chat_width;
    height: $chat_height;
    background:#ffffff;
    position:absolute;
    @include shadow(rgba(0,0,0,0.5));
    left:50%;
    top:2.5em;
    margin-left:-($chat_width/2);
    >header{
        background:#35B3E1;
        height:$chat_header_height;
        line-height:$chat_header_height;
        color:#ffffff;
        padding-left:.5em;
    }
    .header{
        border-bottom: 1px solid #E2EAEC;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
    }
    .chat_content{
        height: $chat_height - $chat_header_height;

        .chat_content_left{
            width: $chat_body_left;
            height:100%;
            border-right:1px solid rgb(226, 234, 236);

        }
    }
    .chat_content_body, .chat_content_left{
        position:relative;
        .chat_field{
            position:absolute;
            bottom:0;
            width: 100%;
        }
    }
}

.u-roomList{
    .active{
        background: #EFF4F5;
    }
    
    li{
        height: 24px;
        line-height: 24px;
        padding: 10px 15px;
        &:hover{
            background: #EFF4F5;
        }
    }
}

