@import './mixin.scss';
@import './reset.scss';
@import './common.scss';

.chat_box{
    width: $chat_width;
    height: $chat_height;
    background:#ffffff;
    position:absolute;
    @include shadow(rgba(0,0,0,0.5));
    left:50%;
    top:2.5em;
    margin-left:-($chat_width/2);
    >header{
        background:#35B3E1;
        height:$chat_header_height;
        line-height:$chat_header_height;
        color:#ffffff;
        padding-left:.5em;

    }
    .header{
        border-bottom: 1px solid #E2EAEC;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        flex-basis: 100%;
    }
    .chat_content{
        height: $chat_height - $chat_header_height;

        .chat_content_left{
            width: $chat_body_left;
            height:100%;
            border-right:1px solid rgb(226, 234, 236);

        }
    }
    .chat_content_body, .chat_content_left{
        display: flex;
        flex-wrap: wrap;
    }
    .chat_content_body_area{
        flex-basis: 100%;
        height: 88%;
        overflow-y: scroll;
    }
    .chat_field{
        align-self: flex-end;
    }
}

.u-roomList{
    flex-basis: 100%;
    height: 78%;
    overflow-y: scroll;
    .active{
        background: #EFF4F5;
        color: burlywood;
    }

    li{
        height: 24px;
        line-height: 24px;
        padding: 10px 15px;
        &:hover{
            background: #EFF4F5;
        }
    }
}

