@import './reset.scss';
@import './common.scss';

body{
    @include checkerboard(30px, #eee, rgba(0,0,0,.25));
    display: flex;
}
.container_bg{
    background: rgba(255, 255, 255, .8);
}
.container{
    display:flex;
    height: 200px;
    margin: auto;
    width: 500px; 
    flex-direction: column;
    .item{
        margin: auto;
        text-align: center;
        background: inherit;
    }
    .area{
        border-top: 1px solid #e8b7b7;
        text-align: center;
    }   
}

@supports(display: grid) and (not(display: -ms-grid)){
    body{
        display: grid;
    }
    .container{
        display:grid;
        height: 200px;
        margin: auto;
        width: 500px;
        grid-auto-rows: 70% 30%;
        align-items: flex-end;
        .item{
            margin: auto;
            text-align: center;
            background: inherit;
        }
        .area{
            border-top: 1px solid #e8b7b7;
        }   
    }

    

}



.wheat{
    background: wheat;
    border: 1em solid transparent;
    background:
    linear-gradient(white, white),
    url(http://csssecrets.io/images/stone-art.jpg);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: cover;
}
@keyframes ants{
    to {
        background-position: 100% 100%;
    }
}

.ant{
    padding: 1em;
    border:1px solid transparent;
    background:linear-gradient(white, white) padding-box,
    repeating-linear-gradient(-45deg, black 0, black 25%, white 0, white 50%) 0/.6em .6em;
    animation: ants 12s linear infinite;
}

.ellepse{
    width: 200px;
    height: 100px;
    // border-radius可以分开指定水平半径和垂直半径，可以使用百分比
    border-radius:50%/50%;
    background:orange;
    color: white;
    text-align: center;
    line-height: 100px;
}

.half-ellepse{
    width: 200px;
    height: 100px;
    border-radius:50% / 100% 100%  0 0;
    background:orange;
    color: white;
    text-align: center;
    line-height: 100px;
}
.quanter-ellipse{
    width: 200px;
    height: 100px;
    border-radius:100% 0 0 0/ 100% 0  0 0;
    background:orange;
    color: white;
    text-align: center;
    line-height: 100px;
}

.parallelograms{
    width: 200px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    position:relative;
}
.parallelograms::before{
    content: '';
    background:orange;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform: skewX(45deg);
    z-index:-1;
}

// 菱形
.diamond{
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    overflow: hidden;
    >img{
        max-width:100%;
        transform: rotate(-45deg) scale(1.42);
    }
}

.transform{
    width: 100px;
    height: 100px;
    margin: auto;
    position:relative;
    &::before{
        background:red;
        content:'';
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        transform: scaleY(1.5)  perspective(.5em) rotateX(5deg); //必须要先指定透视，再3d旋转才有效果
        transform-origin: bottom;
    }
}
// 饼图
.pie{
    position:relative;
    width: 100px;
    height: 100px;
    line-height:100px;
    border-radius:50%;
    background: yellowgreen;
    background-image:linear-gradient(to right, transparent 50%, #655 0);
    color:transparent;
    text-align: center;
    animation-delay:-10s;
    &::before{
        content:'';
        position:absolute;
        top:0;
        left:50%;
        width: 50%;
        height: 100%;
        border-radius:0 100% 100% 0/50%;
        background-color: inherit;
        transform-origin: left;
        animation: spin 5s linear infinite,bg 10s step-end infinite;
        animation-play-state:paused;
        animation-delay: inherit;
    }
}

@keyframes spin {
    to {
        transform: rotate(.5turn);

    }
}

@keyframes bg{
    // 动画进行到50%时改变颜色
    50%{
        background: #655;
    }
}
